services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hub_animal_api
    ports:
      - "3000:3000"
    environment:
      RAILS_ENV: development
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: hub_animal_api_development
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:17
    container_name: hub_animal_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: hub_animal_api_development
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d hub_animal_api_development"]
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  postgres_data:
  bundle_cache:
